* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

body {
  background: #f8f8f8; /* Soft grey background color */
  color: #333; /* Dark grey text color */
}

.app {
  background: #eaeaea; /* Light grey background color */
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app h1 {
  font-size: 25px;
  color: #333; /* Dark grey heading color */
  font-weight: 600;
  border-bottom: 1px solid #d8b3b3; /* Border color in a muted pink tone */
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #333; /* Dark grey heading color */
  font-weight: 600;
}

.btn {
  background: #d8b3b3; /* Muted pink background color */
  color: #fff; /* White text color */
  font-weight: 500;
  width: 100%;
  border: 1px solid #d8b3b3; /* Border color in a muted pink tone */
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background: #b38686; /* Darker muted pink on hover */
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #404040; /* Dark grey background color */
  color: #f8f8f8; /* Soft grey text color */
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background: #eaeaea; /* Light grey correct answer background color */
}

.incorrect {
  background: #eaeaea; /* Light grey incorrect answer background color */
}

.watch-link {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #d8b3b3; /* Muted pink link color */
  text-decoration: none;
}
