* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f4f1ec; /* Soft pink background color */
    color: #404040; /* Dark grey text color */
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff; /* White background color */
    color: #404040; /* Dark grey text color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.container h1 {
    font-weight: 500;
    font-size: 45px;
    color: #404040; /* Dark grey text color */
}

.container h1 span {
    color: #ff7e67; /* Soft pink span color */
    border-bottom: 4px solid #ff7e67; /* Soft pink border color */
    padding-bottom: 7px;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #404040; /* Dark grey text color */
}

.container button img {
    width: 28px;
    margin-right: 10px;
}

.container button {
    border: 0;
    outline: 0;
    background: #ff7e67; /* Soft pink button background color */
    color: #fff; /* White button text color */
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
